.order-card {
  min-width: 310px;
  min-height: 500px;
  background-color: #b4b06a;
  border-radius: 10px;
  position: relative;
  margin: 24px;
  margin-left: 0px;
}
.order {
  text-align: left;
}

.order-info {
  position: absolute;
  width: 265px;
  height: 97px;
  border-radius: 20px;
  margin: 20px 0px 0px 23px;
  background-color: #f3ede2;
  font-family: Quicksand;
  font-size: 14px;
  color: black;
}
.order.id {
  font-weight: bold;
  margin: 12px 0px 0px 18px;
}
.order.date {
  font-weight: bold;
  margin: 12px 0px 0px 18px;
}
.order.customer-name {
  font-weight: bold;
  margin: 12px 0px 0px 18px;
}
.order-items {
  position: absolute;
  width: 265px;
  height: 97px;
  margin: 150px 0px 0px 30px;
  font-family: Be Vietnam pro;
  font-size: 20px;
  text-align: left;
  color: black;
}
.order-product {
  padding-bottom: 19px;
  width: 100%;
  word-spacing: 5px;
}
