.adminContainer {
    display: flex;
    width: 1194px;
    height: 834px;
}

.superiorNav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #9D9999;
    width: 1194px;
    height: 106px;
    position: absolute;
}

.logout-button {
    display: flex;
    width: 83px;
    height: 30px;
    margin: 44px 63px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    border: none;
    color: #F3EDE2;
    background-color: #101315;
}

.logo-admin-layout {
    position: absolute;
    width: 81.67px;
    height: 65px;
    left: 1087px;
    top: 27px;
}

.add-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.table {
    margin-top: 106px;
    flex-direction: row;
    width: 674px;
    border-right: 1px solid #9D9999;
}

.logo-logout {
    display: flex;
    position: absolute;
    height: 31.42px;
    width: 28.19px;
    left: 25px;
    top: 45px;
}

.add-user-button {
    position: absolute;
    width: 192px;
    height: 47px;
    left: 24px;
    top: 135px;
    background: #3D3838;
    border-radius: 10px;
    border: none;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 20px;
    color: #F3EDE2;
}

.add-user-button:hover {
    background-color: #F3EDE2;
    color: #3D3838;
    cursor: pointer;
}

.add-product-button {
    position: absolute;
    width: 192px;
    height: 47px;
    left: 240px;
    top: 135px;
    background: #3D3838;
    border-radius: 10px;
    border: none;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 20px;
    color: #F3EDE2;
}

.add-product-button:hover {
    background-color: #F3EDE2;
    color: #3D3838;
    cursor: pointer;
}

.lineOne {
    position: absolute;
    width: 1194px;
    top: 212px;
    border-bottom: 1px solid #9D9999;
}

.logo-person {
    display: flex;
    position: absolute;
    height: 40px;
    width: 40px;
    left: 24px;
    top: 753px;
}

.admin-name {
    display: flex;
    position: absolute;
    font-family: 'Be Vietnam Pro';
    font-size: 20px;
    left: 65px;
    top: 758px;
    color: #F3EDE2;
}

.add-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}

.current-user-text {
    position: absolute;
    width: 230px;
    height: 35px;
    left: 833px;
    top: 141px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    color: #F3EDE2;
}

.instructions-to-add {

    position: absolute;
    text-align: left;
    width: 350px;
    height: 30px;
    left: 24px;
    top: 236px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #F3EDE2;
}

.label-user-name {
    position: absolute;
    width: 175px;
    height: 27px;
    left: 24px;
    top: 301px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #F3EDE2;
    text-align: left;
}

.label-credencial-name {
    position: absolute;
    width: 175px;
    height: 27px;
    left: 24px;
    top: 367px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #F3EDE2;
    text-align: left;
}

.user-name-input {
    font-family: 'Quicksand';
    font-size: 20px;
    position: absolute;
    width: 401px;
    height: 43px;
    left: 222px;
    top: 359px;
    background: #3D3838;
    border-radius: 10px;
    color: #F3EDE2;
    border: none;
    padding-left: 24px;
    outline: none;
}

.user-credencial-input {
    font-family: 'Quicksand';
    font-size: 20px;
    position: absolute;
    width: 401px;
    height: 43px;
    left: 222px;
    top: 293px;
    background: #3D3838;
    border-radius: 10px;
    color: #F3EDE2;
    border: none;
    padding-left: 24px;
    outline: none;
}

.create-user-button {
    box-sizing: border-box;
    position: absolute;
    width: 472px;
    height: 47px;
    left: 99px;
    top: 643px;
    background: #3D3838;
    border: 2px solid #F3EDE2;
    border-radius: 10px;
    position: absolute;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #F3EDE2;
}

.user-description {
    position: absolute;
    width: 550px;
    height: 28px;
    top: 236px;
    text-align: center;
    color: #F3EDE2;
    text-align: center;
    left: 660px;
}

th {
    font-family: 'Quicksand';
    font-size: 22px;
    padding: 0 10px;
}
