.cards-order-container{
    display: flex;
    flex-wrap: wrap;
}

.logo-person {
    display: flex;
    position: absolute;
    height: 40px;
    width: 40px;
    left: 24px;
    top: 753px;
}

.chef-name {
    display: flex;
    position: absolute;
    font-family: 'Be Vietnam Pro';
    font-size: 20px;
    left: 65px;
    top: 758px;
    color: #F3EDE2;
}