* {
 margin: 0;
 padding: 0;
}

body{
    background-color:#101315;
}

.login-container{
    display:grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(8,1fr);
    width: 1194px;
    height: 834px;
}

.restaurant-image{
    grid-column: 4/7;
    grid-row: 1/9;
    width: 609px;
    height: 834px;
}

.logo{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 98px;
    height: 78px;
    align-self: center;
    justify-self: center;
}
.welcome-letters{
    grid-column: 2/3;
    grid-row: 3/4;
    width: 379px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
    color:#F3EDE2;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    align-self: center;
}

.enter-details{
    grid-column: 2/3;
    grid-row: 4/5;
    color:#F3EDE2;  
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    align-self: start;
}

.username{
    grid-column: 2/3;
    grid-row: 5/6;
    width: 311.01px;
    height: 30px;
    background-color: #101315;
    border: none;
    border-bottom:2px solid #F3EDE2;
    align-self: start;
    text-align: center;
    font-family: 'Be Vietnam Pro';
    font-size: 20px;
    justify-self: center;
    color: #F3EDE2;
    text-decoration: none;
    outline: none;
}
.password{
    grid-column: 2/3;
    grid-row: 6/7;
    width: 311.01px;
    height: 30px;
    background-color: #101315;
    border: none;
    border-bottom:2px solid #F3EDE2;
    text-align: center;
    font-family: 'Be Vietnam Pro';
    font-size: 20px;
    align-self: start;
    justify-self: center;
    color: #F3EDE2;
    outline: none;
}

.login-button{
    grid-column: 2/3;
    grid-row: 7/8;
    width: 311px;
    height: 47px;
    background: #3D3838;
    border-radius: 10px;
    color: #F3EDE2;
    border:none;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    align-self:start;
    justify-self: center;
}
.login-button:hover {
    background-color: #F3EDE2;
    color: #3D3838;
    cursor:pointer;
}