.menuContainer {
  display: flex;
  width: 1194px;
  height: 834px;
}

.superiorNav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #9d9999;
  width: 1194px;
  height: 106px;
  position: absolute;
}

.logout-button {
  display: flex;
  width: 83px;
  height: 30px;
  margin: 44px 63px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  border: none;
  color: #f3ede2;
  background-color: #101315;
}
.logout-button:hover {
  cursor: pointer;
}

.logo-waiter-layout {
  position: absolute;
  width: 81.67px;
  height: 65px;
  left: 1087px;
  top: 27px;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.menu {
  margin-top: 106px;
  flex-direction: row;
  width: 674px;
  border-right: 1px solid #9d9999;
}

.logo-logout {
  display: flex;
  position: absolute;
  height: 31.42px;
  width: 28.19px;
  left: 25px;
  top: 45px;
}

.logo-logout:hover {
  cursor: pointer;
}

.button {
  position: absolute;
  width: 192px;
  height: 47px;
  background: #3d3838;
  border-radius: 10px;
  border: none;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 20px;
  color: #f3ede2;
}

.button.center {
  left: 240px;
  top: 135px;
}

.button.left {
  left: 24px;
  top: 135px;
}

.button:hover {
  background-color: #f3ede2;
  color: #3d3838;
  cursor: pointer;
  border: 2px solid #101315;
}

.lineOne {
  position: absolute;
  width: 1194px;
  top: 212px;
  border-bottom: 1px solid #9d9999;
}

.logo-person {
  display: flex;
  position: absolute;
  height: 40px;
  width: 40px;
  left: 24px;
  top: 753px;
}

.waiter-name {
  display: flex;
  position: absolute;
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  left: 65px;
  top: 758px;
  color: #f3ede2;
}

.order-sumary-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.order-summary-text {
  position: absolute;
  width: 520px;
  height: 34px;
  left: 675px;
  top: 113px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  border-bottom: 1px solid #9d9999;
  color: #f3ede2;
}

label {
  position: absolute;
  width: 175px;
  height: 27px;
  left: 695px;
  top: 166px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #f3ede2;
}

.customer-name-input {
  font-family: "Quicksand";
  font-size: 20px;
  position: absolute;
  width: 266px;
  height: 43px;
  left: 879px;
  top: 158px;
  background: #3d3838;
  border-radius: 10px;
  color: #f3ede2;
  border: none;
  outline: none;
  padding-left: 24px;
}

.order-description {
  position: absolute;
  height: 400px;
  width: 522px;
  top: 236px;
  color: #f3ede2;
  margin: 0px 24px 0px 14px;
  overflow-y: scroll;
}

.order-description::-webkit-scrollbar {
  width: 10px;
  background-color: #f3ede2;
  margin-right: 24px;
}
.order-description::-webkit-scrollbar-thumb {
  background-color: #de9468;
  border-radius: 10px;
}

.style-name-column {
  width: 200px;
  padding: 0 20px;
}

.style-delete-column {
  width: 100px;
}

.price {
  position: absolute;
  top: 670px;
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  font-size: 24px;
  color: #f3ede2;
  margin-left: 24px;
}

.number-price {
  position: absolute;
  top: 670px;
  font-family: "Be Vietnam Pro";
  font-weight: 400;
  font-size: 24px;
  color: #f3ede2;
  margin-left: 390px;
}

.send-button {
  position: absolute;
  width: 472px;
  height: 47px;
  background: #3d3838;
  border: 2px solid #f3ede2;
  border-radius: 10px;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 20px;
  /* identical to box height */
  text-align: center;
  color: #f3ede2;
}

.send-button:hover {
  background-color: #f3ede2;
  color: #3d3838;
  cursor: pointer;
}

.send-button.orders {
  top: 745px;
  margin-left: 24px;
}

.empty-order-message{
  width: 500px;
  height: 250px;
  position: absolute;
  color: #f3ede2;
  margin: 300px 0 0 50px
}

.Modal {
    display: flex;
    position: absolute;
    background-color: BLACK;
    width: 1194px;
    height: 834px;
    margin-top: -834px;
    color: #F3EDE2;
    opacity: 0.9;
}

.Overlay {
  background-color: #de9468;
}
.modal-text {
  position: absolute;
  font-family: "Quicksand";
  font-size: 30px;
  width: 700px;
  height: 43px;
  margin: 380px 0px 0px 300px;
}
.modal-button-left {
  position: absolute;
  width: 192px;
  height: 47px;
  background: #3d3838;
  border-radius: 10px;
  border: none;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 30px;
  color: #f3ede2;
  left: 400px;
  text-align: center;
  top: 450px;
}
.modal-button-right {
  position: absolute;
  width: 192px;
  height: 47px;
  background: #3d3838;
  border-radius: 10px;
  border: none;
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 30px;
  color: #f3ede2;
  text-align: center;
  left: 650px;
  top: 450px;
}
.modal-button-right:hover {
    background-color: rgb(255, 145, 0);    ;
    color: #3D3838;
    cursor: pointer;
}
.modal-button-left:hover {
  background-color: #b4b06a;
  color: #3d3838;
  cursor: pointer;
}
