.menuContainer {
    display: flex;
    width: 1194px;
    height: 834px;
}

.superiorNav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #9D9999;
    width: 1194px;
    height: 106px;
    position: absolute;
}


.logout-button {
    display: flex;
    width: 83px;
    height: 30px;
    margin: 44px 63px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    border: none;
    color: #F3EDE2;
    background-color: #101315;
}

.logo-waiter-layout {
    position: absolute;
    width: 81.67px;
    height: 65px;
    left: 1087px;
    top: 27px;
}

.product-card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.menu {
    margin-top: 106px;
    flex-direction: row;
    width: 674px;
    border-right: 1px solid #9D9999;
}


.logo-logout {
    display: flex;
    position: absolute;
    height: 31.42px;
    width: 28.19px;
    left: 25px;
    top: 45px;
}


.breakfast-button {
    position: absolute;
    width: 192px;
    height: 47px;
    left: 24px;
    top: 135px;
    background: #3D3838;
    border-radius: 10px;
    border: none;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 20px;
    color: #F3EDE2;
}

.breakfast-button:hover {
    background-color: #F3EDE2;
    color: #3D3838;
    cursor: pointer;
}

.lunch-dinner-button {
    position: absolute;
    width: 192px;
    height: 47px;
    left: 240px;
    top: 135px;
    background: #3D3838;
    border-radius: 10px;
    border: none;
    font-family: 'Quicksand';
    font-weight: 600;
    font-size: 20px;
    color: #F3EDE2;
}

.lunch-dinner-button:hover {
    background-color: #F3EDE2;
    color: #3D3838;
    cursor: pointer;
}

.lineOne {
    position: absolute;
    width: 1194px;
    top: 212px;
    border-bottom: 1px solid #9D9999;
}

.logo-person {
    display: flex;
    position: absolute;
    height: 40px;
    width: 40px;
    left: 24px;
    top: 753px;
}

.waiter-name {
    display: flex;
    position: absolute;
    font-family: 'Be Vietnam Pro';
    font-size: 20px;
    left: 65px;
    top: 758px;
    color: #F3EDE2;
}

.order-sumary-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}

h3 {
    position: absolute;
    width: 520px;
    height: 34px;
    left: 675px;
    top: 113px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    border-bottom: 1px solid #9D9999;
    color: #F3EDE2;
}

label {
    position: absolute;
    width: 175px;
    height: 27px;
    left: 695px;
    top: 166px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #F3EDE2;
}

.customer-name-input {
    font-family: 'Quicksand';
    font-size: 20px;
    position: absolute;
    width: 290px;
    height: 43px;
    left: 879px;
    top: 158px;
    background: #3D3838;
    border-radius: 10px;
    color: #F3EDE2;
    border: none;
}

.order-description {
    position: absolute;
    width: 550px;
    height: 28px;
    top: 236px;
    text-align: center;
    color: #F3EDE2;
    text-align: center;
    left:660px;
}

th {
    table-layout: fixed;
    width: 650px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    height: 28px;
    left: 900px;
    top: 236px;

}

.price {
    position: absolute;
    width: 127px;
    height: 30px;
    left: 48px;
    top: 400px;
    margin-bottom: 50px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #F3EDE2;
}
.number-price {
    position: absolute;
    width: 127px;
    height: 30px;
    left: 410px;
    top: 400px;
    margin-bottom: 50px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #F3EDE2;
}

.send-to-kitchen-button {
    position: absolute;
    box-sizing: border-box;
    width: 472px;
    height: 47px;
    left: 52px;
    top: 500px;
    background: #3D3838;
    border: 2px solid #F3EDE2;
    border-radius: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    text-align: center;
    color: #F3EDE2;
}

